<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <!-- User List -->
      <section class="users-list-wrapper">
        <!-- users filter start -->
        <!-- <div class="card">
          <h5 class="card-header">Search Filter</h5>
          <div class="card-body">
            <div class="users-list-filter">
              <form>
                <div class="row">
                  <div class="col-12 col-md-4">
                    <fieldset class="form-group">
                      <ng-select
                        [items]="selectRole"
                        [(ngModel)]="selectedRole"
                        name="selectedRole"
                        bindLabel="name"
                        placeholder="Select Role"
                        (change)="filterByRole($event)"
                      ></ng-select>
                    </fieldset>
                  </div>
                  <div class="col-12 col-md-4">
                    <fieldset class="form-group">
                      <ng-select
                        [items]="selectPlan"
                        [(ngModel)]="selectedPlan"
                        name="selectedPlan"
                        bindLabel="name"
                        placeholder="Select Plan"
                        (change)="filterByPlan($event)"
                      ></ng-select>
                    </fieldset>
                  </div>
                  <div class="col-12 col-md-4">
                    <fieldset class="form-group">
                      <ng-select
                        [items]="selectStatus"
                        [(ngModel)]="selectedStatus"
                        name="selectedStatus"
                        bindLabel="name"
                        placeholder="Select Status"
                        (change)="filterByStatus($event)"
                      ></ng-select>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div> -->
        <!-- users filter end -->
  
        <!-- <div class="card">
          <ngx-datatable
            [rows]="rows"
            [rowHeight]="50"
            class="bootstrap core-bootstrap"
            [limit]="10"
            [columnMode]="ColumnMode.force"
            [headerHeight]="50"
            [footerHeight]="50"
            [scrollbarH]="true"
          >
            <ngx-datatable-column name="Seller" prop="seller" [width]="50">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div>
                  {{row.seller.firstName + ' ' +row.seller.lastName}}
                </div> 
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Product Name" prop="product" [width]="50">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div>
                  {{row.sellerproduct.product.name }}
                </div> 
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Buyer" prop="user" [width]="50">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div>
                  {{row.user.firstName + ' ' +row.user.lastName}}
                </div> 
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Price" prop="ammount" [width]="200"></ngx-datatable-column>
            <ngx-datatable-column name="Quantity" prop="quantity" [width]="100"></ngx-datatable-column>
            <ngx-datatable-column name="Discount" prop="discount" [width]="100"></ngx-datatable-column>
          
            <ngx-datatable-column name="Actions" [width]="40" [sortable]="false">
              <ng-template ngx-datatable-cell-template let-row="row">
                <div ngbDropdown container="body">
                  <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow" rippleEffect>
                    <span [data-feather]="'more-vertical'" [class]="'cursor-pointer'"></span>
                  </button>
                  <div ngbDropdownMenu>
                    <a ngbDropdownItem
                      ><span [data-feather]="'file-text'" [size]="16" [class]="'mr-50'"></span> Details</a
                    >
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div> -->
      </section>


      <section class="users-list-wrapper">
        
        <div class="card">
       
          <ngx-datatable
          #tableRowDetails
            [rows]="rows"
            [rowHeight]="50"
            class="bootstrap core-bootstrap"
            [limit]="10"
            [columnMode]="ColumnMode.force"
            [headerHeight]="50"
            [footerHeight]="50"
            [scrollbarH]="true"
          >

<!-- 
          <ngx-datatable-row-detail [rowHeight]="'auto'" style="padding: 0px 20px;">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template >
              <ngx-datatable
              [rows]="row.orderDetails"
              [rowHeight]="50"
              class="bootstrap core-bootstrap"
              [limit]="10"
              [columnMode]="ColumnMode.force"
              [headerHeight]="50"
              [footerHeight]="50"
              [scrollbarH]="true"
            >
              <ngx-datatable-column name="Seller" prop="seller" [width]="50">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <div>
                    {{row.seller.firstName + ' ' +row.seller.lastName}}
                  </div> 
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Product Name" prop="product" [width]="50">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <div>
                    {{row.sellerProduct.product.name }}
                  </div> 
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Buyer" prop="buyer" [width]="50">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <div>
                    {{row.buyer.firstName + ' ' +row.buyer.lastName}}
                  </div> 
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Price" prop="ammount" [width]="200"></ngx-datatable-column>
              <ngx-datatable-column name="Quantity" prop="quantity" [width]="100"></ngx-datatable-column>
              <ngx-datatable-column name="Discount" prop="discount" [width]="100"></ngx-datatable-column>
          
            </ngx-datatable>


            </ng-template>
          </ngx-datatable-row-detail>
          <ngx-datatable-column
            [width]="50"
            [resizeable]="false"
            [sortable]="false"
            [draggable]="false"
            [canAutoResize]="false"
          >
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              <a
                href="javascript:void(0)"
                class="text-body"
                [class.datatable-icon-right]="!expanded"
                [class.datatable-icon-down]="expanded"
                title="Expand/Collapse Row"
                (click)="rowDetailsToggleExpand(row)"
              >
              </a>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Price" prop="totalAmmount" [width]="200"></ngx-datatable-column>
          <ngx-datatable-column name="Discount" prop="discount" [width]="100"></ngx-datatable-column>
          
         <ngx-datatable-column name="Order Date" prop="createdAt" [width]="50">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div>
                  {{row.createdAt | date}}
              </div>
            </ng-template>
          </ngx-datatable-column>

   
          <ngx-datatable-column name="Actions" [width]="40" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row">
              <div ngbDropdown container="body">
                <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow" rippleEffect>
                  <span [data-feather]="'more-vertical'" [class]="'cursor-pointer'"></span>
                </button>
                <div ngbDropdownMenu>
                  <a ngbDropdownItem
                    ><span [data-feather]="'file-text'" [size]="16" [class]="'mr-50'"></span> Details</a
                  >
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column> -->

          <ngx-datatable-column name="Seller" prop="seller" [width]="50">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div>
                {{row.seller.firstName + ' ' +row.seller.lastName}}
              </div> 
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Product Name" prop="product" [width]="50">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div>
                {{row.sellerproduct.product.name }}
              </div> 
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Buyer" prop="user" [width]="50">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div>
                {{row.user.firstName + ' ' +row.user.lastName}}
              </div> 
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Price" prop="ammount" [width]="200"></ngx-datatable-column>
          <ngx-datatable-column name="Quantity" prop="quantity" [width]="100"></ngx-datatable-column>
          <ngx-datatable-column name="Discount" prop="discount" [width]="100"></ngx-datatable-column>
          
         
          
          </ngx-datatable>
        </div>
      </section>
      <!--/ User List -->
    </div>
  
  
  </div>
  